:root {
    --color-background: #2a2b2c;
    --table-color1: #002292;
    --table-color2: #00a700;
    --table-color3: #d1239d;
    --table-color4: #02020e;
}

/* * {
    text-align: right;
} */

.container_tables {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* background-color: white; */
}

p {
    margin: 0;
}

table {
    /* border: 2px solid black; */
    border-collapse: separate;
    border-spacing: 0px;
}

th ,
td {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    border: 1px solid white;
    /* border-radius: 10px; */
    padding: 10px;
}

input {
    border-radius: 7px;
    border: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: transparent;
    color: white;
}

td {
    width: 90px;
}




.table_element[data-curso="1"] table {
    background-color: var(--table-color1);
}

.table_element[data-curso="2"] table {
    background-color: var(--table-color2);
}



tbody tr:not(.seccion_nota) td:first-of-type {
    background-color: #ffffff96;
    color: black;
}

tbody tr:not(.seccion_nota) td {
    background-color: #5a5a5a;
}

tbody tr:not(.seccion_nota) td:last-of-type {
    background-color: #00000057;
}



tr.seccion_nota td:first-of-type {
    color: black;
    background-color: #ffffff34;
}

tr.seccion_nota td {
    background-color: #131313fb;
}

tr.seccion_nota td:last-of-type {
    background-color: #272727;
}


th {
    background-color: transparent;
}

.campo_nota {
    padding-block: 0;
    padding-inline: 5px;
    /* background-color: #141414; */
}

[colspan="3"] {
    text-align: center;
    color: white;
}

#resultado {
    color: white;
}

input ,
td {
    text-align: right;
}




