body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;    
    color: #ffffff;
}

section {
    background-color: #ccc8ff;
    padding-inline: 450px;
    padding-block: 20px;
    text-align: center;
}

section h1 {
    margin: 0px;
    color: #0e002e;
}

section img {
    height: 30px;
    margin-inline: 20px;
}

section div {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    background-color: #0e002e;
    border-radius: 100px;
    margin-block: 10px;
}

section a {
    text-decoration: none;
    color: inherit;
}




nav,
header,
header a ,
footer ,
footer a{
    font-size: 80%;
}

nav,
header,
nav a ,
header a,
footer ,
footer a {
    color: #ffffff;
}

nav {    
    grid-area: nav;
    background-color: #0e002e;
    display: flex;
    align-items: center;
    justify-content: right;
    height: 7vh;
}

nav a {
    margin-inline: 20px;
}

.icon {
    height: 32px;
}

header img {
    height: 100px;
    margin: 20px;
}

header {
    grid-area: header;
    background-color: #17004e;
    display: flex;
    /* justify-content: center;  */
    align-items: center;
}

header div a {
    font-size: 120%;
    margin-left: 65px;    
}

#enlaces {
    margin-inline-start: 200px;
}


footer {
    font-size: 120%;
    grid-area: footer;
    background-color: #140044;
    display: grid;
    grid-template-columns: 15% 15% 25% auto;
    grid-template-rows: 40px 150px;
}

footer div,
footer p {
    margin: 5px;
    padding: 5px;
}

#RS_content {
    display: grid;
    grid-template-columns: repeat(3,30%);
    grid-template-rows: repeat(2,50%);
    grid-template-areas: "RS1 RS2 RS3"
                         "RS4 RS2 RS5";
}

#RS1 { 
    grid-area: RS1;
}

#RS2 { 
    grid-area: RS2;
}

#RS3 { 
    grid-area: RS3;
}

#RS4 { 
    grid-area: RS4;
}

#RS5 {
    grid-area: RS5;
}

#RS_content img {
    height: 50px;
}

footer img[alt="mapa"] {
    height: 90%;
}



