
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    color: #ffffff;
    margin: 0px;
    background-color: #3800bb;
    display: grid;
    grid-template-columns: auto 350px;
    grid-template-rows: 7vh auto auto auto;
    grid-template-areas: "nav nav"
                        "header header"
                        "section aside"
                        "footer footer";
}

a {
    color: white;
}


/* nav */
nav {
    grid-area: nav;
    background-color: #0e002e;
    display: flex;
    align-items: center;
    justify-content: right;
}

nav a {
    margin-inline: 20px;
}

.icon {
    height: 32px;
}

/* header */
header img {
    height: 100px;
    margin: 20px;
}

header {
    grid-area: header;
    background-color: #17004e;
    display: flex;
    /* justify-content: center;  */
    align-items: center;
}

header div a {
    font-size: 120%;
    margin-left: 65px;    
}

#enlaces {
    margin-inline-start: 200px;
}

/* section */

section {
    grid-area: section;
    background-color: #3800b9;
    padding-inline: 20px;
    padding-block: 10px;
}

section img {
    height: 100px;
    margin-inline: 30px;
    margin-block: 10px;
}

section img[alt="art1"] {
    float: left;
}

section img[alt="art2"] {
    float: right;
}
section p {
    font-style: bold;
}
section p+img+p {
    text-align: justify;
}

/* aside */
aside {
    grid-area: aside;
    background-color: #2a008b;
    padding: 15px;
}

aside p {
    padding: 0px;
}

aside img {
    height: 100px;
}

/* footer */
footer {
    font-size: 120%;
    grid-area: footer;
    background-color: #140044;
    display: grid;
    grid-template-columns: 15% 15% 25% auto;
    grid-template-rows: 40px 150px;
}

footer div,
footer p {
    margin: 5px;
    padding: 5px;
}

#RS_content {
    display: grid;
    grid-template-columns: repeat(3,30%);
    grid-template-rows: repeat(2,50%);
    grid-template-areas: "RS1 RS2 RS3"
                         "RS4 RS2 RS5";
}

#RS1 { 
    grid-area: RS1;
}

#RS2 { 
    grid-area: RS2;
}

#RS3 { 
    grid-area: RS3;
}

#RS4 { 
    grid-area: RS4;
}

#RS5 {
    grid-area: RS5;
}

#RS_content img {
    height: 50px;
}

footer img[alt="mapa"] {
    height: 90%;
}


