<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Downloader</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">    
</head>
<body>
    <div class="container">
        <h1>YouTube Downloader</h1>
        <form action="/download" method="post">
            <label for="url">Ingrese el enlace de YouTube:</label>
            <input type="text" id="url" name="url" required autocomplete="off">
            <select name="format">
                <option value="audio">Audio</option>
                <option value="video">Video</option>

            </select>
            <button type="submit">Descargar</button>
        </form>
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
    </div>
</body>
</html>


