{% extends "maestra_general.html" %}

{% block titulo %}
Horario
{% endblock %}

{% block estilos %}
<link rel="stylesheet" href="/static/css/horario.css">
{% endblock %}

{% block contenido %}

<div class="grid-container">
    <div id="grid" style="
        grid-template-columns: repeat( {{CANTCOLSAD}} , {{sizeCOLad}}) repeat({{cantCol}}, {{sizeCOL}}); 
        grid-template-rows: repeat( {{CANTROWSAD}} , {{sizeROWad}} ) repeat({{cantRow}} , {{sizeROW}});
        grid-gap: {{sizeGAP}};
        ">

        {% for space in range(spaces) %}
            <div class="cell empty_cell"></div>
        {% endfor %}

        <div class="cell grid_head space_hour" style="grid-area: {{CANTROWSAD - 1}} / 1 / {{CANTROWSAD }} / {{CANTCOLSAD + 1 }} ; top: 0; left: 0; ">DIA</div>
        <div class="cell grid_head space_hour" style="grid-area: {{CANTROWSAD}} / 1 / {{CANTROWSAD + 1}} / {{CANTCOLSAD + 1}} ; top: calc({{sizeROWad}} + {{sizeGAP}}); left: 0; ">HORA</div>

        {% for dia in BASE_dias %}
            <div class="cell grid_head cell_day" 
            style="grid-area: {{CANTROWSAD-1}} / {{loop.index0 + CANTCOLSAD + 1}} / {{CANTROWSAD }} / {{loop.index0 + 1 + CANTCOLSAD + 1}} ; top: 0 ;  "
            >
                {{ BASE_NOMBRE_DIAS[dia % 7] }}
            </div>

            <div class="cell grid_head cell_date" 
            style="grid-area: {{CANTROWSAD}} / {{loop.index0 + CANTCOLSAD + 1}} / {{CANTROWSAD +1 }} / {{loop.index0 + 1 + CANTCOLSAD + 1}} ; top: calc({{sizeROWad}} + {{sizeGAP}}); "
            >
                {{ BASE_fechas[loop.index0] }}
            </div>

        {% endfor %}

        <div class="cell colday"
            style="grid-area: {{CANTROWSAD + 1}} / 1 / {{ (23 - BASE_horas[0] + 1) * (cantMin ) + CANTROWSAD + 1}} / 2 ; left: 0 ; ">
            {{ BASE_NOMBRE_DIAS[ (DIF_DAYS + BASE_dias[0]) % 7 ] }}
        </div>

        <div class="cell colday"
            style="grid-area: {{ (23 - BASE_horas[0] + 1) * (cantMin ) + CANTROWSAD + 1 }} / 1 / {{ (23 - BASE_horas[0] + 1 + BASE_horas[23] + 1) * cantMin + CANTROWSAD + 1  }} / 2 ; left: 0 ; ">
            {{ BASE_NOMBRE_DIAS[ (DIF_DAYS + BASE_dias[0] + 1) % 7 ] }}
        </div> 

        {% for hora in BASE_horas %}
            {% set hora_index = loop.index0 %} 
            <div class="cell space_hour"
                style="grid-area: {{ (hora_index * cantMin) + CANTROWSAD + 1  }} / {{CANTCOLSAD-1}} / {{ ((hora_index + 1) * cantMin) + CANTROWSAD + 1}} / {{CANTCOLSAD}} ; left: calc( {{sizeCOLad}} + {{sizeGAP}}) ; ">
                {{ hora }}
            </div>
            {% for minuto in BASE_minutos %}
                {% set minuto_index = BASE_minutos.index(minuto) %}
                <div data-minute="{{ minuto }}" class="cell space_minute" 
                    style="grid-area: {{ (hora_index * cantMin) + minuto_index + CANTROWSAD + 1 }} / {{CANTCOLSAD}} / {{ (hora_index * cantMin) + minuto_index + CANTROWSAD+2 }} / {{CANTCOLSAD+1}} ; left: calc( (  {{sizeCOLad}} + {{sizeGAP}}) * 2) ; ">
                    {{ minuto }}
                </div>
            {% endfor %}
        {% endfor %}

        {% for dia in BASE_dias %}
            {% for act in actividades %}
                {% if act[3] == dia %}
                    {% set hora_index_ini = BASE_horas.index(act[4]) %}
                    {% set hora_index_fin = BASE_horas.index(act[6]) %}
                    {% set columna_dia = BASE_dias.index(act[3]) + CANTCOLSAD + 1 %}
                    {% set fila_inicio = (hora_index_ini * cantMin) + BASE_minutos.index(act[5]) + CANTROWSAD + 1 %}
                    {% set fila_fin = (hora_index_fin * cantMin) + BASE_minutos.index(act[7]) + CANTROWSAD + 1  %}
                    
                    <div class="cell actividad"
                    style="grid-area: {{fila_inicio}} / {{columna_dia}} / {{fila_fin}} / {{columna_dia + 1}};">
                        <p>{{ act[1] }}</p>
                        <p>{{ act[2] }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}

    </div>
</div>


{% endblock %}



{% block scripts %}
<script src="/static/js/general_script.js"></script>

<script>
    const clases = [
        '.empty_cell' ,
        '.colday' ,
        '.space_hour' ,
        '.space_minute' ,
        '.grid_head' ,
    ]

    for (let clase of clases) {
        var num = document.querySelectorAll(clase).length;
        console.log(clase,num);        
    }
    
</script>

{% endblock %}