.cell {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #18181896;
    border-radius: 2px;
}

.grid-container {
    overflow-x: auto;
    overflow-y: auto;
    max-height: 80vh;
    width: 92.5vw;
    position: relative;
}

.grid-container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.grid-container::-webkit-scrollbar-thumb {
    background-color: #334f68;
}

.grid-container::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

.grid-container {
    scrollbar-width: thin;
    scrollbar-color: #334f68 #f0f0f0;
}

#grid {
    display: grid;
    color: white;
}

.grid_head {
    text-align: center;
    color: white;
    align-items: center;
    vertical-align: middle;
    position: sticky;
    z-index: 700;
}

.cell_day {
    background-color: #262626c9;
}

.cell_date {
    background-color: #717171b3;
}

.colday ,
.space_hour ,
.space_minute {
    position: sticky;
    z-index: 800;
}

.space_hour {
    color: white;
}

.space_hour:nth-child(odd) {
    background-color: #383838ab;
}

.space_hour:nth-child(even) {
    background-color: #262626b5;
}

.space_minute {
    background-color: #333333b2;
    font-size: 80%;
}

.colday {
    writing-mode: vertical-rl; 
    text-orientation: upright;
}

.colday:nth-child(odd) {
    background-color: #1b1b1bd4;
}

.colday:nth-child(even) {
    background-color: #262626c8;
}

.empty_cell {
    background-color: #94949459;
}

.empty_cell_2 {
    background-color: #00000051;
}

.grid_head.space_hour {
    z-index: 1000;
    background-color: black;
}

.actividad {
    /* background-color: #b725c46e; */
    z-index: 99;
    padding: 10px;
}









