/* aside {
    display: none;
} */

#grid {
    display: grid;
    gap: 5px;
    color: white;
}

.cell {
    border: 1px solid #ccc;
    text-align: center;
    transition: background-color 0.3s ease;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    background-size: cover;
    /* color: #000000; */
    border-radius: 10px;
}

.cell_1 {
    background-color: #7700ff;
}

.cell_2 {
    background-color: #006eff;
}

.cell_1.cell_2 {
    background-color: blue;
}

.pasado {
    background-color: black ;
}

.presente {
    background-color: #ec5e1c ;
}

/* .cell p {
    margin: 2px;
    font-size: 80%;
} */